# Data Cleaning and Exploration
+ Using the data from kaggle
    - This is on gitignore but can be downloaded here: https://www.kaggle.com/sinaasappel/historical-weather-in-the-netherlands-19012018
    - The data is read from the ```../data/raw_data``` directory
    
    
    
+ This notebook does the following:
    1. Imports the raw data as linked above
    2. Cleans the data (in progress)
    3. Splits the data into four dataframes, each under 100mb (github limit)
    4. Saves the dataframes to ```../data/clean_data``` for upload to git
    
    
    
+ The notebook ```combine_data.ipynb``` reads the the dataframes and combines them to be used locally

```Pandas``` For dataframes

```Numpy``` For mathematical operations

In [2]:
import pandas as pd
import numpy as np

### Data import

In [10]:
df = pd.read_csv("../data/raw_data/KNMI_20200513.csv", low_memory=False)

### Initial cleaning
+ YYYYMMDD to date/time object
+ Rename Columns to more descriptive names

In [11]:
df['YYYYMMDD'] = pd.to_datetime(df['YYYYMMDD'], format='%Y%m%d')

In [12]:
df = df.rename(columns={"STN"       : "Station", 
                        "YYYYMMDD"  : "Date", 
                        "DDVEC"     : "Wind_Direction_Vector",
                        "FHVEC"     : "Wind_Speed_Vector",
                        "FG"        : "Mean_Wind_Speed_Day",
                        "FHX"       : "Highest_Wind_Speed_One_Hour",
                        "FHXH"      : "Hour_With_Highest_Speed",
                        "FHN"       : "Lowest_Wind_Speed_One_Hour",
                        "FHNH"      : "Hour_With_Lowest_Speed" 
                        "FXX"       : "Highest_Wind_Gust"                       
                       })
df.head()

,STN,Date,Wind_Direction_Vector,Wind_Speed_Vector,Mean_Wind_Speed_Day,Highest_Wind_Speed_One_Hour,Hour_With_Highest_Speed,FHN,Hour_With_Lowest_Speed,FXX,...,VVNH,VVX,VVXH,NG,UG,UX,UXH,UN,UNH,EV24
0,260,2000-01-01,237,21,25,40,7,10,15,80,...,9,63,14,7,97,99,9,93,16,1
1,260,2000-01-02,205,36,37,50,21,20,1,90,...,6,50,24,8,97,99,1,93,22,1
2,260,2000-01-03,212,57,61,70,8,40,1,130,...,16,62,3,8,94,97,15,90,11,0
3,260,2000-01-04,231,23,38,70,16,10,4,150,...,10,80,23,7,94,99,10,83,23,0
4,260,2000-01-05,191,37,40,60,19,30,1,120,...,9,75,1,3,90,95,8,82,14,4

In [36]:
df1.to_csv("../data/clean_data/df1.csv", index=False)
df2.to_csv("../data/clean_data/df2.csv", index=False)
df3.to_csv("../data/clean_data/df3.csv", index=False)
df4.to_csv("../data/clean_data/df4.csv", index=False)

In [13]:
df.to_csv("../data/clean_data/df260.csv", index=False)